label.form-label {
    font-size: 10px;
    font-style: normal;
}

.view-control {
    height: 40px;
    border: solid 1px 0 #4b5961;
}

.result-container img {
    height: 200px;
}

.result-container .glyphicon {
    color: #ff951b;
}